<header class="bg-dark">
    <div class="container mx-5">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top px-5">
            <p class="navbar-brand text-white">Prueba Ilumno</p>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li clas="navbar-item">
                        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                    </li>
                    <li clas="navbar-item">
                        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">Registro</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>